/* App.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'montserrat', sans-serif;
}

/*NAVBAR*/

.navbar {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  justify-content: space-between;
  background-color: white;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 30%;
}

.logo img {
  height: 80px;
  margin-right: 10px;
}

.nav-links {
  background-color: #ff385c;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.nav-links a {
  margin: 0 15px;
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 18px;
  padding: 20px;
}

.right-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 30%;
}

.right-menu a {
  text-decoration: none;
}


/*SEARCH BAR*/

.search-main{
  display: flex;
  justify-content: center;
  align-self: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}


.search-bar {
  display: flex;
  justify-content: space-between;
  align-self: center;
  background-color: #f7f7f7;
  padding: 10px;
  border-radius: 50px;
  border: 1px solid #ddd;
  width: 40%;
}

.search-bar input {
  border: none;
  background-color: transparent;
  padding: 5px 10px;
  font-size: 14px;
  outline: none;
}

.search-bar input::placeholder {
  color: #000000;
}

.search-btn {
  background-color: #ff385c;
  border: none;
  color: white;
  padding: 8px 12px;
  border-radius: 50%;
  cursor: pointer;
}


/*CATEGORIES*/

.categories {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.categories button{
  border: none;
  background: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: color 0.3s ease;
}


.categories button img{
  height: 30px;
  opacity: 0.7;
}

.categories button p {
  padding: 5px;
  color: rgba(0, 0, 0, 0.7);
  font-weight: bold;
}


.categories.active button p {
  color: black;
  text-decoration: underline;
  text-underline-offset: 10px;
}

.categories button:hover p {
  color:black;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 10px;
}

.categories button:hover img{
  scale: (1.02);
  opacity: 1;
}